<div class="container">
	<h1 class="center-content">Districts</h1>
	<div class="rtl-right">
	<form [formGroup]="createDistrictForm">
		<h2>Add:</h2>
		<div class="form-group row setWidth">
			<label for="inputPassword" class="col-sm-2 col-form-label">District Name</label>
			<div class="col-sm-10">
				<input type="text"  formControlName="districtName" class="form-control" placeholder="District Name">
			</div>
		</div>
		<div>
			<button type="submit" (click)="addDestrict()"  class="btn btn-primary">Add</button>
		</div>
	</form>
	<form [formGroup]="editDistrictForm">
		<h2>Edit:</h2>

		<div class="form-group row setWidth">
			<label for="inputPassword" class="col-sm-2 col-form-label">District Name</label>
			<div class="col-sm-10">
				<input type="text" formControlName="edit_districtName" class="form-control" placeholder="District Name">
			</div>
		</div>
		<div>
			<button type="submit" (click)="edit()" class="btn btn-primary">Edit</button>
		</div>
	</form>
		<div style="display:flex;width : 80%">
			<span class="inner-addon left-addon col-10">
				<i class="fas fa-search setPosition" style="left:-10px"></i>
				<input [(ngModel)]="searchQuery" style="border-radius: 50px;padding-left:20px;;padding-right: 30px" class="form-control"
				 placeholder="Search" type="search" id="example-search-input">
			</span>
		</div>
		<!-- table -->
		<table class="rtl-right table setMargin setTableWidth tableBodyScroll">
			<thead>
				<tr>
					<th scope="col">District Name</th>
				</tr>
			</thead>
			<tbody class="abc">
				<tr (click)="selectedRow(district, i)" *ngFor="let district of districtData | search:searchQuery; let i = index">
					<td>{{district.region_name}}</td>
				</tr>
			</tbody>
		</table>
	
	</div>
</div>