<div class="container">
	<div class="row">
		<form [formGroup]="edit_productForm" class="rtl-right col-md-6">
			<h2>Edit:</h2>
			<div class="form-group">
				<label for="exampleInputPassword1">Product Name</label>
				<input type="text" class="form-control" placeholder="First Name" formControlName="edit_product_name">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Product SKU</label>
				<input type="text" class="form-control" placeholder="Last Name" formControlName="edit_product_sku">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Quantity Per Bottle</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" formControlName="edit_qty">
			</div>
			<button type="submit" class="btn btn-primary" (click)="edit()" [disabled]="edit_productForm.status == 'INVALID'">Edit</button>
		</form>
		<form [formGroup]="productForm" class="rtl-right col-md-6">
			<h2>Add:</h2>
			<div class="form-group">
				<label for="exampleInputPassword1">Product Name</label>
				<input type="text" class="form-control" placeholder="Product Name" formControlName="product_name">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Product SKU</label>
				<input type="text" class="form-control" placeholder="Product Name" formControlName="product_sku">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Quantity Per Bottle</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Quantity Per Bottle"
				 formControlName="qty">
			</div>
			<button type="submit" class="btn btn-primary" (click)="addproduct()" [disabled]="productForm.status == 'INVALID'">Add</button>
		</form>

		<div style="display:flex;width : 100%;direction: rtl">
			<span class="inner-addon left-addon col-10">
				<i class="fas fa-search setPosition" style="left: 97%"></i>
				<input [(ngModel)]="searchQuery" style="border-radius: 50px;padding-left:20px;;padding-right: 30px" class="form-control"
				 placeholder="Search" type="search" id="example-search-input">
			</span>
		</div>
		<table class="rtl-right table setMargin tableBodyScroll">
			<thead>
				<tr>
					<th scope="col">Quantity Per Bottle</th>
					<th scope="col">Product SKU</th>
					<th scope="col">Product Name</th>

				</tr>
			</thead>
			<tbody class="abc">
				<tr (click)="selectedRow(prod, i)" *ngFor="let prod of productData | search:searchQuery; let i = index">
					<td>{{prod.product_quantity_bottle}}</td>
					<td>{{prod.product_sku}}</td>
					<td>{{prod.product_name}}</td>

				</tr>
			</tbody>
		</table>
	</div>
</div>