
.set-margin{
	margin-left: 10px;
}
.tableBodyScroll tbody {
	display: block;
	max-height: 300px;
	overflow-y: scroll;
  }
  
  .tableBodyScroll thead,
  .abc tr {
	display: table;
	width: 100%;
	table-layout: fixed;
  }