.search-input{
	border-radius: 50px;
	padding-right:30px
}
.sub-search{
	display:flex;
	width : 80%;
}
.top-margin {
	margin-top: 20px;
}
.sub-search{
	display:flex;
	width : 80%;
	margin-bottom: 20px;
	float:right;
}

