
.page-title {
    text-align: center;
  }
  
  #simple-collapsible,
  #table-collapsible {
    overflow: auto;
  }
  
  @media screen and (max-width: 600px) {
    #simple-collapsible,
    #table-collapsible {
      max-height: 50vh;
    }
  }
  
  @media screen and (min-width: 601px) {
    #simple-collapsible,
    #table-collapsible {
      max-height: 60vh;
    }
  }
  
  .options-col {
    padding: 0;
    overflow: auto;
    max-height: 100vh;
  }
  
  .collection.options {
    margin: 0;
    background: rgba(0, 0, 0, 0.05);
    border-top: none;
    border-right: none;
  }
  
  .collection.options > .warning {
    display: none;
  }
  
  .collection.options > .warning > * {
    transform: rotate(-90deg) translateX(-50vh);
    white-space: nowrap;
  }
  
  @media screen and (max-width: 320px) {
    .collection.options > .collection-item {
      display: none;
    }
  
    .collection.options > .warning {
      display: block;
      height: 100vh;
    }
  }
  
  .collection.options > .collection-item {
    background: transparent;
  }
  
  .collection.options > .collection-item:not(.input) {
    padding: 0.5rem 1rem;
  }
  
  .collection.options > .collection-item.input {
    padding: 0.3rem 1rem;
  }
  
  .collection.options > .collection-item .checkbox label {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .collection.options > .collection-item .input input {
    margin: 0;
  }
  
  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 0, 0, 0.5);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  }
  
  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 0, 0, 0.3);
  }